<div class="row">

    <div class="col-md-12 col-sm-6 col-xs-12">

        <div class="x_panel animated fadeIn bot-card">
            <div class="x_title card-title">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2 class="font-robot">My Automations</h2>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 form-group top_search card-search">
                    <helpbutton class="helpbutton" displayhelp="'automations'"></helpbutton>
                    <div class="card-search--form">
                        <i class="fa fa-search"></i>
                        <div class="input-group">
                            <input type="text" ng-model="searchCriteria" class="form-control" placeholder="Search for...">
                        </div>
                    </div>
                </div>

                <div class="card-add">
                    <button type="button" class="btn card-title--btn-add card-btn" ng-click="createNewAutomation()">
                        New Automation
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- end -->

            <div class="x_content">
                <ul class="list-unstyled">
                    <li ng-repeat="workflow in workFlowNames | filterBy: ['DisplayName']: searchCriteria | orderBy:'-DateTime'" style="border-bottom: 1px solid #efefef;">
                        <workflow wfdata="workflow" editwf="createNewAutomation()"></workflow>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end -->
        <div style="background-color: #F2F4F8; position: fixed; bottom: 0; left: 0; right: 0; text-align:right;padding: 17px;">
            <div>Powered by smoothflow</div>
        </div>
    </div>

</div>