<div class="col-md-12 col-sm-12 col-xs-12 animated fadeIn">
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Missed call reasons</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x-content col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="reason in missedCallCauses track by $index">
                    {{ reason }}
                </div>
            </div>

        </div>
    </div>
</div>