<div id="frst-login-bg" class="logi animated fadeIn " ng-controller="firstLoginCtrl">
    <img src="assets/images/bg_10444x1000.jpg" id="bg" alt="">
    <div>
        <div class="login_wrapper">
            <img src="images/logo_130x130yellow.svg" />

            <div class="form login_form">
                <div ng-show="isSocialMedia" class="is-social-media-wrapper">
                    Authentication...
                </div>
                <section class="login_content">
                    <div class="login-header">
                        <h2>Welcome to <span style="color: purple;">{{companyName}} </span></h2>
                    </div>

                    <div class="login-body">
                        <form name="reEnterPwForm">
                            <h1 class="font-robot font-300"> </h1>

                            <div class="validation-area">

                                <div>
                                    <div ng-show="pwdBox" style="z-index: 2000">
                                        <password-strength-box ng-model="password"
                                                               box="pwdBox"
                                                               confirm="confirmPwd"></password-strength-box>
                                    </div>
                                    <label class="inline-block dark-frm-label">New Password
                                        <span class="inline-block validation-on"
                                              ng-show="reEnterPwForm.password.$invalid && !reEnterPwForm.password.$pristine">
                            *
                            </span> </label>
                                    <input type="password" ng-model="password" name="password"
                                           class="form-control dark-frm-input"
                                           style="margin-bottom: 10px"
                                           id="password"
                                           required/>
                                </div>
                                <div>
                                    <label class="inline-block dark-frm-label">Confirm Password
                                        <span class="inline-block validation-on"
                                              ng-show="reEnterPwForm.confirmPwd.$invalid && !reEnterPwForm.confirmPwd.$pristine">
                            *
                            </span> </label>
                                    <input type="password" ng-model="confirmPwd" name="confirmPwd" password-verify="{{password}}"
                                           class="form-control dark-frm-input"
                                           style="margin-bottom: 10px"
                                           required/>
                                </div>

                                <div class="recaptcha-wrapper"
                                     ng-if="!isSignUp">
                                    <div vc-recaptcha
                                         on-create="getRecaptchaId(widgetId)"
                                         key="siteKey"></div>
                                </div>

                            </div>
                            <div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <button ng-if="!isLoadinRstPwd" class="btn btn-default btn-block submit"
                                                ng-disabled="reEnterPwForm.$invalid || isRequested"
                                                ng-click="setupPassword()">Next
                                        </button>
                                        <button ng-if="isLoadinRstPwd" class="btn btn-default btn-block submit"
                                                disabled> Please Wait..
                                        </button>
                                    </div>
                                </div>


                            </div>

                            <div class="clearfix"></div>


                        </form>
                    </div>

                </section>
            </div>
            <p class="font-robot font-300">©{{copyrightYear}} Facetone is a product of DuoWorld Inc. All Rights Reserved</p>

        </div>
    </div>
</div>
